@import "bourbon/bourbon"

$text-color: #333333
$dark-color: #000000
$red-color: #9b1818
$blue-color: #003469
$green-color: #67bc5c

h1
  color: #fff
  font-size: 60px
  line-height: 56px
  font-weight: bold
  font-family: CleanvertisingLight, sans-serif
  margin: 0

section,
footer
  padding: 58px 0 68px
  &.s_dark
    h2, h3, p
      color: #fff
  h2
    color: $blue-color
    font-size: 50px
    line-height: 56px
    margin-bottom: 50px
    font-family: CleanvertisingLight, sans-serif
    text-align: center
    margin-top: 0
    font-weight: normal

p strong
  font-family: RobotoBold, sans-serif
  font-weight: normal

body
  font-family: "RobotoRegular", sans-serif
  color: $text-color
  font-weight: normal
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.6
  -webkit-font-smoothing: antialised
  overflow-x: hidden

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: red
  box-shadow: $red-color 0 0 0 2px
  border-color: $red-color

body input:required:valid,
body textarea:required:valid
  color: green

.hidden
  display: none

header
  min-height: 640px
  background: url(../img/top_bg.jpg) top center
  background-size: cover
  color: #ffffff
  padding-top: 32px
  padding-bottom: 40px

.logo
  font-size: 40px
  font-family: RobotoBold, sans-serif
  font-weight: bold

.top_phone,
.bottom_phone
  text-align: right

.bottom_phone
  text-align: center
  margin-top: 50px
  color: $red-color

body .tab_item
  display: none
body .tab_item:first-child
  display: block

.top_phone,
.bottom_phone
  .wrapper .tab
    text-transform: uppercase
    cursor: pointer

.top_phone,
.bottom_phone
  .wrapper .active
    text-decoration: underline

.top_phone,
.bottom_phone
  .tab_item
    display: none
    font-size: 34px
    font-family: RobotoBold, sans-serif

.top_phone .tab_item:first-child
  display: block

.top_header
  margin-top: 70px
  h2
    margin: 10px 0 0
    font-family: CleanvertisingLight, sans-serif
    font-size: 36px

.tabs_header
  margin-top: 50px
  ul, li
    list-style-type: none
    margin: 0
    padding: 0
  li
    padding-left: 32px
    position: relative
    margin-bottom: 10px
  i
    position: absolute
    left: 0
    top: 0
    line-height: 30px
    color: #6f6a67
    font-size: 18px
    vertical-align: middle
  .tabs
    text-align: left
    .tab
      display: inline-block
      background-color: rgba(255, 255, 255, .25)
      padding: 15px 18px
      text-transform: uppercase
      cursor: pointer
      float: left
      font-family: RobotoBold, sans-serif
      +transition(all .25s ease)
      &.active
        background-color: rgba(255, 255, 255, .6)
        color: #000
  .tab_content
    background-color: rgba(255, 255, 255, .6)
    padding: 12px 18px 16px
    font-size: 18px
    color: #000000
    text-transform: uppercase
    font-family: RobotoBold, sans-serif

.button
  border: none
  cursor: pointer
  display: inline-block
  height: 46px
  line-height: 46px
  padding: 0 32px
  background-color: #000
  text-transform: uppercase
  text-align: center
  color: #ffffff
  border-radius: 3px
  text-decoration: none
  font-size: 16px
  font-family: RobotoBold, sans-serif
  &.btn_red
    background-color: $red-color
  &.btn_green
    background-color: $green-color
  &.btn_white
    background-color: #fff
    color: #000

.button_wrap
  text-align: right
  margin-top: 20px

.s_tizers
  +linear-gradient(#c6d8ee, #e8eff7)
  color: $blue-color
  font-family: CleanvertisingLight, sans-serif
  text-transform: uppercase
  padding: 40px 0
  span
    font-size: 14px
  strong
    font-weight: normal
    font-size: 23px
    display: block
  .row
    > div
      margin-bottom: 35px

.tiz_img,
.tiz_descr
  display: inline-block
  vertical-align: bottom

.tiz_img i
  font-size: 60px
  line-height: 48px
  margin-right: 8px

.s_tizers .row
  > div:nth-child(1)
    i
      font-size: 70px
      font-family: RobotoRegular, sans-serif
      letter-spacing: -12px
      margin-right: 18px
    strong
      font-size: 25px
      line-height: 28px
    span
      font-size: 20px
      line-height: 24px

  > div:nth-child(2)
    strong
      font-size: 25px
      line-height: 28px
    span
      font-size: 16px
      line-height: 30px
  //i
  //position: relative
  //bottom: -1px

  > div:nth-child(3)
    strong
      line-height: 22px
    span
      line-height: 34px

  > div:nth-child(4)
    span
      font-size: 13px
      line-height: 32px
    strong
      line-height: 26px

    i
      line-height: 54px

.profi_left
  color: $red-color
  i
    font-size: 90px
    line-height: 115px

.profi_right
  h3
    display: inline-block
    color: $red-color
    font-size: 28px
    margin: 0
  p
    margin-top: 5px

form
  background-color: #f7f7f7
  padding: 25px 30px
  border: $green-color 5px solid
  border-radius: 5px
  h2
    text-transform: uppercase
    margin-top: 0
    font-family: RobotoBold, sans-serif
    font-size: 22px
    color: $text-color
    line-height: 22px
    margin-bottom: 35px
  label
    display: block
    margin-bottom: 15px
    color: #666
    font-size: 14px
  input,
  select
    display: block
    line-height: 40px
    height: 40px
    border: #d9d9d9 1px solid
    box-shadow: 0 0 20px rgba(0, 0, 0, .06) inset
    width: 100%
    text-indent: 10px
    font-size: 20px
    margin-top: 3px
    &:focus
      box-shadow: $green-color 0 0 0 2px
      border-radius: 3px
      border-color: $green-color
      outline: 0
  //select
  //  background-image: url(../img/arow.svg)
  //  background-position: right center
  //  background-repeat: no-repeat

  .button_wrap
    text-align: center
    margin: 30px 0 10px

.s_review
  background: url(../img/middle_bg.jpg)
  //background-repeat: repeat-x
  background-attachment: fixed
  min-height: 500px
  background-position: top center
  background-size: cover

.review_item
  color: #ffffff
  text-align: center
  h4
    font-family: "Times New Roman", sans-serif
    font-style: italic
    font-size: 22px
    font-weight: normal
    margin-top: 10px
    margin-bottom: 20px
  p
    margin: 30px auto 0
    display: inline-block
    float: none
    font-size: 15px
  .image_wrap
    text-align: center
    img
      width: 165px
      height: 165px
      display: inline-block
      border-radius: 50%
      border: #585a5b 10px solid

.hr
  width: 80px
  height: 1px
  background-color: #cea380
  margin: auto

.owl-nav
  div
    width: 34px
    height: 140px
    background-image: url(../img/s_arrows.png)
    top: 20px
    position: absolute
    opacity: .6
    &:hover
      opacity: 1
    &.owl-next
      right: 0
      background-position: top right

.owl-dots
  width: 100%
  margin-top: 20px
  text-align: center
  .owl-dot
    width: 14px
    height: 14px
    background-color: #fff
    display: inline-block
    margin: 0 4px
    border-radius: 50%
    opacity: .5
    &.active
      opacity: .8

.s_back
  background-image: url(../img/red_bg.jpg)
  background-position: top center
  text-align: center
  padding: 40px 0
  h3
    margin-top: 0
    text-transform: uppercase
    font-weight: normal
    font-size: 26px
    text-align: center
    background-color: rgba(255,255,255, .13)
    padding: 10px 0
  .button
    margin: auto

.s_contacts
  padding-bottom: 0
  .wrapper
    margin-top: 15px
    font-size: 18px
  .contacts_top
  text-align: center
  h2
    color: #000
    display: inline-block
    vertical-align: middle
    margin-bottom: 0
    height: 45px
    line-height: 45px
  .tabs
    display: inline-block
    vertical-align: middle
    height: 45px
    line-height: 45px
    margin-left: 20px
    .tab
      float: left
      padding: 0 60px
      border: $red-color 5px solid
      line-height: 38px
      color: $red-color
      &:first-child
        border-radius: 3px 0 0 3px
      &:last-child
        border-radius: 0 3px 3px 0
      &.active
        background-color: $red-color
        color: #ffffff

.map
  margin-top: 20px
  min-height: 480px
  background-color: #e1d6b0

footer
  .button_wrap
    text-align: center
    margin-top: 30px
  h2
    color: #000
    margin-bottom: 30px
  p
    font-size: 18px
    text-align: center
    margin-top: 0

#hidden_form,
#form_back
  max-width: 420px
  margin: auto
  position: relative
  h2
    text-align: center
    font-weight: normal
